<div class="container mt">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <!--{% if include.title %}<h3>{{ include.title }}</h3>{% endif %}-->
        <div class="grid">
        <div class="grid-sizer"></div>
        {% for project in site.projects limit:include.limit %}
        <div class="grid-item">
          <div class="he-wrap tpl6">
          <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
            <a href="{{  project.url | prepend: site.baseurl }}" data-animate="fadeInUp">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <br><br><br>
                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
              </div>
            </div>
            </a>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
</div>
